version: "3.9"
services:
  api:
    container_name: api_container
    env_file:
      - .env
    build: .
    depends_on:
      - db
      - test_db
    ports:
      - "8000:8000"
  db:
    container_name: db_container
    image: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=1234
      - POSTGRES_DB=database
  test_db:
    container_name: testing_db
    image: postgres
    ports:
      - "5433:5433"
    command: -p 5433
    depends_on:
      - db
    environment:
      - POSTGRES_USER=test_user
      - POSTGRES_PASSWORD=1234
      - POSTGRES_DB=testing_db